@model IEnumerable<ITSupportTicket.StaffWiseReport>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Solve Ticket</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StaffName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StaffEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SolveReport)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PendingReport)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StaffName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StaffEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SolveReport)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PendingReport)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StaffID }) |
            @Html.ActionLink("Details", "Details", new { id=item.StaffID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.StaffID })
        </td>
    </tr>
}

</table>
